---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.0
  creationTimestamp: null
  name: clusters.kosmos.io
spec:
  group: kosmos.io
  names:
    kind: Cluster
    listKind: ClusterList
    plural: clusters
    singular: cluster
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.clusterLinkOptions.networkType
      name: NETWORK_TYPE
      type: string
    - jsonPath: .spec.clusterLinkOptions.ipFamily
      name: IP_FAMILY
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Spec is the specification for the behaviour of the cluster.
            properties:
              clusterLinkOptions:
                properties:
                  autodetectionMethod:
                    type: string
                  bridgeCIDRs:
                    default:
                      ip: 220.0.0.0/8
                      ip6: 9470::/16
                    properties:
                      ip:
                        type: string
                      ip6:
                        type: string
                    required:
                    - ip
                    - ip6
                    type: object
                  cni:
                    default: calico
                    type: string
                  defaultNICName:
                    default: '*'
                    type: string
                  enable:
                    default: true
                    type: boolean
                  globalCIDRsMap:
                    additionalProperties:
                      type: string
                    type: object
                  ipFamily:
                    default: all
                    type: string
                  localCIDRs:
                    default:
                      ip: 210.0.0.0/8
                      ip6: 9480::/16
                    properties:
                      ip:
                        type: string
                      ip6:
                        type: string
                    required:
                    - ip
                    - ip6
                    type: object
                  networkType:
                    default: p2p
                    enum:
                    - p2p
                    - gateway
                    type: string
                  nicNodeNames:
                    items:
                      properties:
                        interfaceName:
                          type: string
                        nodeName:
                          items:
                            type: string
                          type: array
                      required:
                      - interfaceName
                      - nodeName
                      type: object
                    type: array
                  useIPPool:
                    default: false
                    type: boolean
                type: object
              clusterTreeOptions:
                properties:
                  accessKey:
                    description: secret?
                    type: string
                  enable:
                    default: true
                    type: boolean
                  leafModels:
                    description: LeafModels provide an api to arrange the member cluster
                      with some rules to pretend one or more leaf node
                    items:
                      properties:
                        labels:
                          additionalProperties:
                            type: string
                          description: Labels that will be setting in the pretended
                            Node labels
                          type: object
                        leafNodeName:
                          description: LeafNodeName defines leaf name If nil or empty,
                            the leaf node name will generate by controller and fill
                            in cluster link status
                          type: string
                        nodeSelector:
                          description: NodeSelector is a selector to select member
                            cluster nodes to pretend a leaf node in clusterTree.
                          properties:
                            labelSelector:
                              description: LabelSelector is a filter to select member
                                cluster nodes to pretend a leaf node in clusterTree
                                by labels. It will work on second level schedule on
                                pod create in member clusters.
                              properties:
                                matchExpressions:
                                  description: matchExpressions is a list of label
                                    selector requirements. The requirements are ANDed.
                                  items:
                                    description: A label selector requirement is a
                                      selector that contains values, a key, and an
                                      operator that relates the key and values.
                                    properties:
                                      key:
                                        description: key is the label key that the
                                          selector applies to.
                                        type: string
                                      operator:
                                        description: operator represents a key's relationship
                                          to a set of values. Valid operators are
                                          In, NotIn, Exists and DoesNotExist.
                                        type: string
                                      values:
                                        description: values is an array of string
                                          values. If the operator is In or NotIn,
                                          the values array must be non-empty. If the
                                          operator is Exists or DoesNotExist, the
                                          values array must be empty. This array is
                                          replaced during a strategic merge patch.
                                        items:
                                          type: string
                                        type: array
                                    required:
                                    - key
                                    - operator
                                    type: object
                                  type: array
                                matchLabels:
                                  additionalProperties:
                                    type: string
                                  description: matchLabels is a map of {key,value}
                                    pairs. A single {key,value} in the matchLabels
                                    map is equivalent to an element of matchExpressions,
                                    whose key field is "key", the operator is "In",
                                    and the values array contains only "value". The
                                    requirements are ANDed.
                                  type: object
                              type: object
                              x-kubernetes-map-type: atomic
                            nodeName:
                              description: NodeName is Member cluster origin node
                                Name
                              type: string
                          type: object
                        taints:
                          description: Taints attached to the leaf pretended Node.
                            If nil or empty, controller will set the default no-schedule
                            taint
                          items:
                            description: The node this Taint is attached to has the
                              "effect" on any pod that does not tolerate the Taint.
                            properties:
                              effect:
                                description: Required. The effect of the taint on
                                  pods that do not tolerate the taint. Valid effects
                                  are NoSchedule, PreferNoSchedule and NoExecute.
                                type: string
                              key:
                                description: Required. The taint key to be applied
                                  to a node.
                                type: string
                              timeAdded:
                                description: TimeAdded represents the time at which
                                  the taint was added. It is only written for NoExecute
                                  taints.
                                format: date-time
                                type: string
                              value:
                                description: The taint value corresponding to the
                                  taint key.
                                type: string
                            required:
                            - effect
                            - key
                            type: object
                          type: array
                      type: object
                    type: array
                  leafType:
                    default: k8s
                    type: string
                  secretKey:
                    type: string
                type: object
              imageRepository:
                type: string
              kubeconfig:
                format: byte
                type: string
              namespace:
                default: kosmos-system
                type: string
            type: object
          status:
            description: Status describes the current status of a cluster.
            properties:
              clusterLinkStatus:
                description: ClusterLinkStatus contain the cluster network information
                properties:
                  podCIDRs:
                    items:
                      type: string
                    type: array
                  serviceCIDRs:
                    items:
                      type: string
                    type: array
                type: object
              clusterTreeStatus:
                description: ClusterTreeStatus contain the member cluster leafNode
                  end status
                properties:
                  leafNodeItems:
                    description: LeafNodeItems represents list of the leaf node Items
                      calculating in each member cluster.
                    items:
                      properties:
                        leafNodeName:
                          description: LeafNodeName represents the leaf node name
                            generate by controller. suggest name format like cluster-shortLabel-number
                            like member-az1-1
                          type: string
                      required:
                      - leafNodeName
                      type: object
                    type: array
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources: {}
