apiVersion: v1
kind: ServiceAccount
metadata:
  name:  clusterlink-elector
  namespace: kosmos-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: elector
  name: clusterlink-elector
  namespace: kosmos-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: elector
  template:
    metadata:
      labels:
        app: elector
    spec:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kosmos.io/exclude
                  operator: DoesNotExist
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - elector
            namespaces:
              - kosmos-system
            topologyKey: kubernetes.io/hostname
      containers:
        - command:
            - clusterlink-elector
            - --controlpanelconfig=/etc/clusterlink/kubeconfig
            - --v=3
          env:
            - name: CLUSTER_NAME
              value: ${clustername}
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
          image: ghcr.io/kosmos-io/clusterlink-elector:__VERSION__
          imagePullPolicy: IfNotPresent
          name: elector
          resources:
            limits:
              memory: 200Mi
              cpu: 250m
            requests:
              cpu: 250m
              memory: 250Mi
          volumeMounts:
            - mountPath: /etc/clusterlink
              name: proxy-config
              readOnly: true
      serviceAccountName: clusterlink-elector
      tolerations:
        - effect: NoSchedule
          key: key
          operator: Equal
          value: value
      volumes:
        - configMap:
            defaultMode: 420
            name: clusterlink-agent-proxy
          name: proxy-config